body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0; display:block;} address,caption,cite,code,dfn,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;} q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
sup,sub{line-height:0;} input[type="checkbox"],input[type="radio"]{padding:0 1px;} strong{font-weight:700} em,i{font-style:normal} textarea{overflow:auto;}
header,nav,footer,section,figure,aside,hgroup,session{display:block; margin:0; padding:0;} center{text-align:left} a{color:#e53031; text-decoration:none; outline:none}/*14.4*/
h1,h2,h3,h4,h5,h6,p{font-weight:normal;margin:0; padding:0;}
.hide{display:none}
.clear{clear: both;}
input:focus{outline:none;}
textarea:focus{outline:none;}
/*-----------------------------------------------------------------------------------------------------------------*/


